<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8">
        <title>Menu Page</title>
    </head>
    <body>
        <center>
        <p>{{computername}}</p>
        <h1> Menu_Page </h1>
        <p>
        <button name="menu1" style="width:100px; height:70px;">아 메 리 카 노</button>
        <button name="menu2" style="width:100px; height:70px;">카 페 라 떼</button>
        </p><hr>
        <button style="width:100px; height:70px;">둥 글 레 차</button>
        <button style="width:100px; height:70px;">유  자  차</button>
        <button name="menu2" style="width:100px; height:70px;">녹    차</button>
        <hr>
        </center>
    </body>
</html>




